<!DOCTYPE html>
<html lang="en">
<head>
    <title>Learn Go</title>
    <link type="text/css" rel="stylesheet" href="/assets/styles.css" >
</head>
<body>
<h2>Habits Viewer</h2>
<form action="/create" method="post">
    <label for="habitName">Objective:</label>
    <input type="text" id="habitName" name="habitName">
    <label for="habitFrequency">Weekly frequency:</label>
    <input type="number" id="habitFrequency" name="habitFrequency">
    <button>Create</button>
</form>
<hr/>
<div>
    <div>
        {{- with .Date}}
        <a href="/?week={{ .Previous }}">Prev.</a>
        This period covers {{ .Start }} -> {{ .End }}.
        <a href="/?week={{ .Next }}">Next</a>
        {{- end }}
    </div>
    <p>Here are your registered habits, you have {{ len .Habits }}.</p>
    {{- if .Habits }}
    <ul>
        {{- range .Habits }}
            {{- template "habitItem" . }}
        {{- end }}
    </ul>
    {{- end }}
</div>
</body>
</html>
