<html lang="en">
<script>
    function tick(id) {
        const url = "/habits/" + encodeURIComponent(id);
        fetch(url, {
            method: "POST",
            headers: {
                "content-type": "application/json"
            }
        });
    }
</script>

<head>
    <title>Learn Go</title>
</head>
<body>
<h2>Habits Viewer</h2>
<p>Here are your registered habits</p>
<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Objective</th>
            <th></th>
        </tr>
        {{range .}}
        <tr>
            <td>{{.Name}}</td>
            <td {{ if lt .WeeklyFrequency 3 }} style="background-color:#9B4433" {{ else }}
                style="background-color:#488286" {{ end }}>{{.WeeklyFrequency}}
            </td>
            <td>
                <button onclick="tick('{{.Id}}')">Tick!</button>
            </td>
        </tr>
        {{end}}
    </table>
</div>
</body>
</html>
